body {
    background-image: url("/Pictures/barnett-2178229_1920.jpg");
    background-size: cover;
    color: lightgray;
}

h1 {
    padding-top: 2%;
    padding-bottom: 5%;
}

.centre {
    margin: auto;
}

@media screen and (min-width: 1296px) {
    .centre {
        width: 50%;
    }
}

@media screen and (min-width: 1096px) and (max-width: 1296px) {
    .centre {
        width: 60%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1096px) {
    .centre {
        width: 70%;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .centre {
        width: 60%;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {
    .centre {
        width: 70%;
    }
}

@media screen and (min-width: 480px) and (max-width: 576px) {
    .centre {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    .centre {
        width: 90%;
    }
}

table {
    border-collapse: separate;
    border-spacing: 5px;
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px solid;
    border-radius: 25px;
}

legend {
    width: initial;
    border-bottom: none;
    margin-bottom: initial;
    margin-left: 20px;
    padding: 2px;
    color: lightgray;
}

.left-width {
    width: 140px;
}

a {
    color: lightgray;
}

a:visited {
    color: lightgray;
}

a:hover {
    color: lightgray;
}